/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.page {
	width: 95%;
}

/* Header */


.headercss {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headercss nav a {
	padding-left: 50px;
	text-decoration: none;
	font-size: 14px;
	color: #bfbfbf;
	align-items: center;
}

/* CTA */

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 60px;

}

header button {
	border: black 1px solid;
    padding: 6px 40px;
	font-size: 15px;

}

header h1 {
	font-size: 70px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.innovation {
	display: flex;
	flex-flow: column;
	align-items: center;
}

/* Main text */
.main-text {
	display: flex;
	margin: 0 5%;
}

.image {
	display: flex;
	justify-content: center;
	width: 100%;
}

.main-text {
	margin-top: 40px;
}

.text-area {
	width: 46%
}

.text-area2 {
	width: 30%;
}

/* Full page */


address p {
	margin-bottom: 15px;
}

.contact-info {
	margin: 10px 5%;
}

.phone {
	margin: 10px 0;
}

address a {
	text-decoration: none;
	color: black;
}

footer {
	margin-top:25px;
    text-align: center;
} 

.page {
	display: flex;
	flex-flow: column;
}

hr {
	width: 90%;
}